gi# proj/.gitignore

#Project Type
.*.tipo

# Python
__pycache__/
*.pyc

# Aplication cache
cache/

# Aplication distribution
dist/

# Aplication build
build/

# Aplication executables
output/

# Graphics
graficos/

# Log files
*.Log

# User preferences
user_preferences.json

# Ambiente virtual
env_proj_00/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env

# Data
db/*.osm
db/*.sql

# Docker
db_data/
